body {
    font-family: Arial;
    background: #f6f6f6;
    padding: 40px;
}

h1, h2 {
    color: #333;
}

.button, button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}
